.ant-tree li span.ant-tree-switcher {
  margin-top: 7px;
  vertical-align: baseline;
}
.checkbox {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-image: url(https://zos.alipayobjects.com/rmsportal/YtUuhtHwMTYVxbF.png);
  background-position: 0 -30px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.checkbox.checkbox-disabled {
  background-position: 0 -60px;
  cursor: not-allowed;
}
.checkbox.checkbox-checked {
  background-position: 0 0;
}
.checkbox.checkbox-checked.checkbox-disabled {
  background-position: 0 -45px;
}
.checkbox.checkbox-indeterminate {
  background-position: 0 -15px;
}
.node-container {
  height: 400px;
  width: 100%;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 10px;
}
.node-container .header {
  border-bottom: 1px solid #eee;
  padding: 0 30px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}
.node-container .header .tree-node .tree-node-text {
  left: 0;
  padding: 0;
}
.node-container .content {
  height: 360px;
  overflow: auto;
}
.tree-node {
  position: relative;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.tree-node.tree-node-disabled {
  color: #ccc;
  cursor: not-allowed;
}
.tree-node .tree-node-text {
  position: absolute;
  left: 16px;
  right: 0;
  display: inline-block;
  padding-left: 8px;
}
.tree-node .tree-node-text:hover {
  background: #eaf8fe;
}
.header .tree-node {
  height: 40px;
  line-height: 40px;
  width: 60px;
  display: inline-block;
}
.header .tree-node .tree-node-text:hover {
  background: transparent;
}
.not-leaf {
  color: #999;
  text-align: center;
  margin: 50px 20px;
  line-height: 30px;
}
.not-leaf .anticon {
  font-size: 30px;
  vertical-align: middle;
}